body{
    background-color: #efcff8;
}
.inicial, .cardapio, .promo, .reserva{
    background-color: rgb(134, 61, 154);
    display: inline-block;

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;

    padding: 10px;
    height: 30px;
    width: 100px;
    margin: 5px;
    margin-top: 12px;

    align-items: center;
    text-align: center;
    align-content: center;
}
.fundo{
    background-color: #2f1a34;
    width: 100%;
    height: 75px;
    
    position: fixed;
    top:0;
    left: 0;
}
a{
    text-decoration: none;
    color: azure;
}
.titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #e67dfe;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    align-content: center;
}
h3{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #2c072a;
    text-transform: uppercase;
    margin-bottom: 0;
}
.tituloPromo{
    height: 80px;
    width: 800px;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table, th, td{
    border: 2px solid #1e0303;
    border-collapse: collapse;
}
th{
    background-color: #2f1a34;
    color: #efcff8;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}
.logo{
    background-color: #2f1a34;
}
td{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cor1{
    background-color: #c2abc7;
}
.cor2{
    background-color: #c19aca;
}
.cabecaPromo{
    font-size: 30px;
}
