*{
    font-family: Georgia;
}
body{
    background: linear-gradient(to top,#b497d6 10%, #f7f4dc 90%);
}

h2{
    color: #a678cf;
}
p{
    color: #0b3c49;
    font-size: 20px;    
}
/* ul{
    color: #0b3c49;
    font-size: 20px;
}
*/
.tp {
    color: #0b3c49;
    font-size: 20px;
}
.tp:hover{
    color: #b52b9c;
    font-size: 20px;
}
.info{
    background-color: rgba(164, 101, 222, 0.29);
}
.titulo{
    background-color: #3F2B56;
    color: #b98bb0;
}